@font-face {
    font-family: 'Stolzl-Bold';
    src: url('https://d1w2zhnqcy4l8f.cloudfront.net/content/helloeko/fonts/Stolzl/30E833_2_0.eot');
    src: url('https://d1w2zhnqcy4l8f.cloudfront.net/content/helloeko/fonts/Stolzl/30E833_2_0.eot?#iefix') format('embedded-opentype'), url('https://d1w2zhnqcy4l8f.cloudfront.net/content/helloeko/fonts/Stolzl/30E833_2_0.woff2') format('woff2'), url('https://d1w2zhnqcy4l8f.cloudfront.net/content/helloeko/fonts/Stolzl/30E833_2_0.woff') format('woff'), url('https://d1w2zhnqcy4l8f.cloudfront.net/content/helloeko/fonts/Stolzl/30E833_2_0.ttf') format('truetype');
}
@font-face {font-family: 'Stolzl-Regular';src: url('https://d1w2zhnqcy4l8f.cloudfront.net/content/helloeko/fonts/Stolzl/30E833_1_0.eot');src: url('https://d1w2zhnqcy4l8f.cloudfront.net/content/helloeko/fonts/Stolzl/30E833_1_0.eot?#iefix') format('embedded-opentype'),url('https://d1w2zhnqcy4l8f.cloudfront.net/content/helloeko/fonts/Stolzl/30E833_1_0.woff2') format('woff2'),url('https://d1w2zhnqcy4l8f.cloudfront.net/content/helloeko/fonts/Stolzl/30E833_1_0.woff') format('woff'),url('https://d1w2zhnqcy4l8f.cloudfront.net/content/helloeko/fonts/Stolzl/30E833_1_0.ttf') format('truetype');}
body {
    background: -moz-linear-gradient(180deg, rgba(45, 80, 255, 1) 0%, rgba(25, 26, 36, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, top, bottom, color-stop(0%, rgba(45, 80, 255, 1)), color-stop(100%, rgba(25, 26, 36, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgba(45, 80, 255, 1) 0%, rgba(25, 26, 36, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgba(45, 80, 255, 1) 0%, rgba(25, 26, 36, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgba(45, 80, 255, 1) 0%, rgba(25, 26, 36, 1) 100%);
    /* ie10+ */
    background: linear-gradient(180deg, rgba(45, 80, 255, 1) 0%, rgba(25, 26, 36, 1) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(25, 26, 36, 1)', endColorstr='rgba(45, 80, 255, 1)', GradientType=1);
    /* ie6-9 */
    background-attachment: fixed;
    font-family: 'Stolzl-Bold', sans-serif;
}

ul {
    float: left;
    z-index: 2;
    position: relative;
    color: #fff;
    padding-left: 0;
}

ul li {
    width: 319px;
    height: 94px;
    background-color: rgba(0, 0, 0, .2);
    list-style: none;
    margin-top: 8px;
    opacity: 0.7;
    padding: 30px 25px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Stolzl-Regular', sans-serif;
    font-size: 14px;
}
.left-column-wrapper{
    float: left;
}
.enlarge {
    width: 425px;
    height: 131px;
    color: #fff;
    opacity: 1;
    padding: 25px;
    box-sizing: border-box;
    font-family: 'Stolzl-Bold', sans-serif;
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.2), 5px 5px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: -12px;
    padding-right: 30px;
}

.enlarge .collection-title {
    /*font-size: 20px;*/
    font-size: 138%;
    line-height: 30px;
    letter-spacing: 0.8px;
}

.enlarge:nth-child(1) {
    background-color: rgba(144, 18, 254, 1);
}

.enlarge:nth-child(2) {
    background-color: rgba(70, 245, 195, 1);
}

.enlarge:nth-child(3) {
    background-color: rgba(255, 0, 96, 1);
}

.enlarge:nth-child(4) {
    background-color: #ff5a3c;
}

.guide {
    width: 759px;
    height: 620px;
    background-color: #fff;
    float: left;
    z-index: 0;
    margin-left: -20px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.guide-title {
    padding-top: 9%;
    padding-left: 9%;
    margin-bottom: 1%;
    color: #9012fe;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
}

.content-wrapper {
    height: 72.4%;
    position: relative;
}
.content {
    padding: 0 9%;
    height: 100%;
    overflow-y: auto;
}
.footer {
    position: relative;
    width: 759px;
    height: 6.1em;
    font-size: 12px;
    line-height: 6.1em;
}

.left-wrapper {
    /*width:50%;*/
    height: 100%;
    left: 0;
    text-align: left;
    float: left;
    cursor: pointer;
    color: #9012fe;
    margin-left: 2%;
}

.right-wrapper {
    /*width:50%;*/
    height: 100%;
    right: 0;
    text-align: right;
    position: absolute;
    cursor: pointer;
    color: #9012fe;
    margin-right: 1.4%;
}
.left, .right {
    float: left;
}
.left-arrow, .right-arrow {
    float: left;
    height: 100%;
    width: 72px;
}
.left-arrow{
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}


.current-article {
    color: rgba(255, 255, 255, .74);
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 12px;
    height: 2em;
}

.content-gradient-bottom {
    background: linear-gradient(rgba(255,255,255,0) 90%, white);
    height: 101%;
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
}

.content-gradient-top {
    background: linear-gradient(white 0%, rgba(255,255,255,0));
    height: 15%;
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
    display: none;
}

#back-to-eko {
    color: #fff;
    font-family: 'Stolzl-Regular';
    font-size: 10px;
    height: 43px;
    line-height: 60px;
}
